{{ form_start(form, {"attr" : {"novalidate": "novalidate"}}) }}
    {{ form_widget(form) }}
        <button class="button-save">{{ button_label|default('Enregistrer') }}</button>
        <a class="button-back" href="{{ path('admin_post_list') }}">Retour</a>
{{ form_end(form) }}