{% extends 'base.html.twig' %}

{% block title %}Points d'intérêt{% endblock %}

{% block body %}
    <div class="d-flex justify-content-evenly">
        <h1>Points d'intérêt</h1>
        <div class="d-flex align-items-center">        
            <a href="{{ path('admin_post_create') }}"class="button-add" title="Ajouter"><i class="bi bi-plus-circle"></i> Ajouter</a>
        </div>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

<div class="table-responsive">
    <table class="table container px-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>               
                <th>Adresse</th>
                <th>Ville</th>
                <th>Statut</th>
                <th>Date de l'évènement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><a href="{{ path('admin_post_read', {'id': post.id}) }}">{{ post.title }}<a></td>
                <td><img src="{{ post.image }}" width="50px"></td>
                <td>{{ post.address }}</td>
                <td>{{ post.city.name }}</td>
                <td>{% if post.status is same as 1 %}
                        actif
                    {% else %}
                        inactif
                    {% endif %}</td>
                <td>{{ post.date}}</td>
                <td>
                    <div class="all-button">
                        <a href="{{ path('admin_post_read', {'id': post.id}) }}" class="button-read-small"
                            title="Afficher"><i class="bi bi-three-dots"></i></a>
                        <a href="{{ path('admin_post_update', {'id': post.id}) }}" class="button-update-small"
                            title="Modifier"><i class="bi bi-pencil-square"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>
</div> 

{% endblock %}

