{% extends 'base.html.twig' %}

{% block title %}Posts {% endblock %}

{% block body %}
    <div class="d-flex justify-content-evenly">
        <h1>Points d'intérêt</h1>
        <div class="d-flex align-items-center">        
            <a href="{{ path('admin_category_create') }}"class="btn btn-sm btn-success px-5" title="Ajouter"><i class="bi bi-plus-circle"></i>Ajouter</a>
        </div>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table container px-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>               
                <th>Address</th>
                <th>City</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td><img src="{{ post.image }}" width="50px"></td>
                <td>{{ post.address }}</td>
                <td>{{ post.city.name }}</td>
                <td>{% if post.status is same as 1 %}
                        actif
                    {% else %}
                        inactif
                    {% endif %}</td>
                <td>{{ post.createdAt|date('Y-m-d')}}</td>
                <td>
                    <a href="{{ path('admin_post_read', {'id': post.id}) }}" class="btn btn-sm btn-primary" title="Voir"><i class="bi bi-three-dots"></i></a>
                    <a href="{{ path('admin_post_update', {'id': post.id}) }}" class="btn btn-sm btn-warning" title="Modifier"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

