{% extends 'base.html.twig' %}

{% block title %}Point d'interet{% endblock %}

{% block body %}
<div class="container">
    <h1>Point d'interet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ post.image }}" width="100px"></td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ post.address }}</td>
            </tr>
             <tr>
                <th>Date</th>
                <td>{{ post.date|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Satus</th>
                <td>{{ post.status }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ post.city.name }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ post.user.email }}</td>
            </tr>
            <tr>
                <th>Date de creation</th>
                <td>{{ post.createdAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Date d'edition</th>
                <td>{{ post.updatedAt|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_post_update', {'id': post.id}) }}">Modifier</a>

    {{ include('back/post/_delete_form.html.twig') }}
    </div>
{% endblock %}
