{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="d-flex justify-content-evenly">
        <h1>Utilisateurs</h1>
        <div class="d-flex align-items-center">        
            <a href="{{ path('admin_user_create') }}"class="button-add" title="Ajouter"><i class="bi bi-plus-circle"></i> Ajouter</a>
        </div>
    </div>
    
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

<div class="table-responsive">
    <table class="table container px-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Présentation</th>
                <th>Photo</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('admin_user_read', {'id': user.id}) }}">{{ user.email }}<a></td>
                <td>{{ user.rolesName }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.presentation }}</td>
                <td>                
                    {% if user.image != "" %}
                    <img style="max-width:150px" src="{{ user.image }}" />
                {% else %}
                    <p>Pas d'image définie</p>
                {% endif %}
                </td>
                <td>{{ user.city }}</td>
                <td>
                    <div class="all-button">
                        <a href="{{ path('admin_user_read', {'id': user.id}) }}" class="button-read-small"
                            title="Afficher"><i class="bi bi-three-dots"></i></a>
                        <a href="{{ path('admin_user_update', {'id': user.id}) }}" class="button-update-small"
                            title="Modifier"><i class="bi bi-pencil-square"></i></a>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}