{% extends 'back/city/_base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des villes</h1>

    <a class="btn btn-secondary" href="{{ path('app_back_city_create') }}">Ajouter</a>
    <a class="btn btn-secondary" href="{{ path('app_back_city_list') }}">Liste</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Pays</th>
                <th>Slug</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>
                {% if city.image != "" %}
                    <img style="max-width:100px" src="{{ city.image }}" />
                {% else %}
                    <p>Pas d'image définie</p>
                {% endif %}
                </td>
                <td>{{ city.name }}</td>
                <td>{{ city.country }}</td>
                <td>{{ city.slug }}</td>
                <td>{{ city.description }}</td>
                <td>

                    <a class="btn btn-primary" href="{{ path('app_back_city_read', {'id': city.id}) }}">Voir</a>
                    <a class="btn btn-secondary" href="{{ path('app_back_city_update', {'id': city.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
