{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
<div class="container">
    <h1>Ville</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if city.image != "" %}
                        <img style="max-width:100px" src="{{ city.image }}" />
                    {% else %}
                        <p>Pas d'image définie</p>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Pays</th>
                <td>{{ city.country }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ city.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ city.description }}</td>
            </tr>
        </tbody>
    </table>
    <div class="all-button d-flex flex-wrap justify-content-evenly">
        <a class="button-update" href="{{ path('admin_city_update', {'id': city.id}) }}">Modifier</a>
        <a class="button-back" href="{{ path('admin_city_list') }}">Retour</a>
        {{ include('back/city/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}