<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <!-- favicon -->
    <link rel="shortcut icon" href="" type="image/x-icon">

    <title>Tribu BackOffice {% block title %}{% endblock %}</title>
</head>

    <body>

    <nav class="navbar navbar-expand-lg navbar-dark mb-4">
        <div class="container-fluid">
                    <a href="{{ path('admin_home')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                    <img class="tribu_logo" src="{{ asset('logo.png') }}" height="80" alt="Tribu Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_home')}}"><img class="nav-pics" src="{{ asset('home.png') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_city_list')}}"><img class="nav-pics" src="{{ asset('office.png') }}">Villes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_user_list')}}"><img class="nav-pics" src="{{ asset('group.png') }}">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_post_list')}}"><img class="nav-pics" src="{{ asset('pin.png') }}">Points d'intérêts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_category_list')}}"><img class="nav-pics" src="{{ asset('categories.png') }}">Catégories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://tribu.surge.sh/"><img class="nav-pics" src="{{ asset('airplane.png') }}">Tribu Front</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            {% if app.user %}
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">

                                <span>{{ app.user.firstname }}</span>
                           
                                <i class="bi bi-person-square"></i>
                            </a>
                            
                            {% else %}
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">

                                <span>Non connecté</span>
                           
                                <i class="bi bi-person-square"></i>
                            </a>
                            {% endif %}
                            {% if app.user %}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('admin_user_read', {'id': app.user.id}) }}">Profil</a></li>
                            </ul>
                            {% endif %}
                        </li>
                    </ul>

                    {% if app.user is defined and app.user is not null %}
                        <a href="{{ path('app_logout') }}" type="button" class="btn custom me-2">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" type="button" class="btn custom me-2">Connexion</a>
                    {% endif %}
                    
                </div>

    
        </div>
    </nav>

    {% block body %}{% endblock %}

    <!-- footer -->
    <footer class="container-fluid py-4 border-top text-center">
        <span class="text-muted">Tribu made with &hearts; !
            <br><small>Thème :<a href="" class="link-secondary text-decoration-none"><i class="bi bi-toggle-on mx-1" id="theme-switch"></i>Dark</a></small></a>
            </span>
    </footer>

    <!-- Optional JavaScript; choose one of 
                the two! -->
    <script src=""></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
            <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
            -->
    </body>

</html>